.container{
    height:100%;
    width: 100%;
    float:left;
    display: flex;
    text-decoration: none;
}
.results{
    height:100%;
    width: 100%;
    position: fixed;
    background-color:aliceblue;
    
}
.home_container{
    display: flex;
}
.result_table{
    margin: auto;
}
